@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Nossos Processos</h1>
    <p class="lead">Mapeamento de processo...</p>
    <p><a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Index">Abrir &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Política da Qualidade</h2>
        <p>Nossa Política da Qualidade apoia o direcionamento estratégico, é apropriada ao propósito e ao contexto da nossa organização e inclui comprometimento com a melhoria contínua..</p>
        <p><a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Index">Abrir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Objetivos da Qualidade</h2>
        <p>Nossos objetivos foram estabelecidos para apoiar a Política da Qualidade, nas funções, níveis e processos pertinentes.</p>
        <p><a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Index">Abrir &raquo;</a></p>

    </div>
    <div class="col-md-4">
        <h2>Papéis, Responsabilidades e Autoridades</h2>
        <p>Para assegurar o foco no cliente e as entregas dos processos, foram atribuidas as responsabilidades e autoridades na organização.</p>
        <p><a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Index">Abrir &raquo;</a></p>
    </div>
</div>
